.navbar {
    background: #14b48e;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .logout-btn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    margin-left: 10px;
    text-decoration: underline;
  }
  
  .logout-btn:hover {
    color: #0056b3;
  }
  